<h1>Calendar</h1>
<table class="calendar">
  <thead>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>
  </thead>
  <tbody>
    {% assign now = site.time | date_to_xmlschema %}
    {% assign today = now | date_to_string | date_to_xmlschema %}
    {% for month in site.data.course.calendar %}
      {% for i in (month.start..month.end) %}
        {% capture date %}{{ month.month }} {{ i }}, {{ month.year }}{% endcapture %}
        {% assign date_xml = date | date_to_xmlschema %}
        {% capture dow %}{{ date_xml | date:"%A" }}{% endcapture %}
        {% unless dow == "Saturday" or dow == "Sunday" %}
          {% if dow == "Monday" %}<tr class="{% cycle 'odd', 'even' %}">{% endif %}
            <td data-date="{{ date_xml }}" class="
              calendar-date
              {% if date_xml < today %}past{% endif %}
              {% if date_xml == today %}today{% endif %}
              {{ date_xml | date:"%B" | downcase }}
            ">
              <div class="date">
                {% if dow == "Monday" or i == 1 or date_xml == today %}
                <span class="month">{{ month.month }}</span>
                {% endif %}
                <span class="day">{{ i }}</span>
              </div>
              {% for post in site.homework %}
                {% assign post_date_xml = post.assigned | date_to_string | date_to_xmlschema %}
                {% if post.due %}
                  {% assign due_date_xml = post.due | date_to_string | date_to_xmlschema %}
                  {% if due_date_xml == date_xml %}
                    <div class="homework">
                    	<a href="{{ site.baseurl }}{{ post.url }}">
                    		<div class="label">Homework Due</div>
                    		{{ post.title | markdownify | strip_html | strip }}
                    	</a>
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% for post in site.lessons %}
                {% if post.class_date %}
                  {% assign class_date_xml = post.class_date | date_to_string | date_to_xmlschema %}
                  {% if class_date_xml == date_xml %}
                    <div class="agenda">
                    	<a href="{{ site.baseurl }}{{ post.url }}">
                    		<div class="label">Class</div>
                    		{{ post.title | markdownify | strip_html | strip }}
                    	</a>
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% for post in site.projects %}
                {% assign post_date_xml = post.assigned | date_to_string | date_to_xmlschema %}
                {% if post_date_xml == date_xml %}
                  <div class="project">
                  	<a href="{{ site.baseurl }}{{ post.url }}">
                  		<div class="label">Project</div>
                  		{{ post.title | markdownify | strip_html | strip }}
                  	</a>
                  </div>
                {% endif %}
                {% if post.due %}
                  {% assign due_date_xml = post.due | date_to_string | date_to_xmlschema %}
                  {% if post_date_xml < date_xml and date_xml < due_date_xml %}
                    <div class="project">
                    	<a href="{{ site.baseurl }}{{ post.url }}">
                    		<div class="label">Project</div>
                    		{{ post.title | markdownify | strip_html | strip }}
                    	</a>
                    </div>
                  {% endif %}
                  {% if due_date_xml == date_xml %}
                    <div class="project">
                    	<a href="{{ site.baseurl }}{{ post.url }}">
                    		<div class="label">Project Due</div>
                    		{{ post.title | markdownify | strip_html | strip }}
                    	</a>
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% for post in site.homework %}
                {% assign post_date_xml = post.assigned | date_to_string | date_to_xmlschema %}
                {% if post_date_xml == date_xml %}
                  <div class="homework">
                  	<a href="{{ site.baseurl }}{{ post.url }}">
                  		<div class="label">Homework</div>
                  		{{ post.title | markdownify | strip_html | strip }}
                  	</a>
                  </div>
                {% endif %}
              {% endfor %}
            </td>
          {% if dow == "Friday" %}</tr>{% endif %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
  var today = new Date();
  var cells = document.querySelectorAll('.calendar-date');
  for (var i = 0; i < cells.length; i++) {
    var cell = cells[i];
    var date = new Date(cell.dataset.date);
    console.log(date.getYear());
    if (date.getYear() === today.getYear()) {
      cell.classList.add('this-year');
      if (date.getMonth() === today.getMonth()) {
        cell.classList.add('this-month');
        if (date.getDate() === today.getDate()) {
          cell.classList.add('today');
        }
      }
    }
  }
</script>
