<header class="page-header">
  <div class="info">
    <h1>
      <a href="{{ site.baseurl }}/">
        {{ site.data.course.abbreviation }} {{ site.data.course.iteration }}
      </a>
    </h1>
	</div>
  <nav>
    {% for item in site.data.course.nav %}

      {% assign item_url = item | prepend:"/" | append:"/" | replace:"HOME/","" %}
      {% assign url_parts = page.url | split:"/" %}
      {% assign section_slug = url_parts[1] %}

      {% if item_url == page.url %}
        {% assign c = "current" %}
      {% elsif item == section_slug %}
        {% assign c = "current" %}
      {% else %}
        {% assign c = "" %}
      {% endif %}

      {% for p in site.pages %}
        {% if p.url == item_url %}
          <a class="{{ c }}" href="{{ site.baseurl }}{{ p.url }}">{% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}</a>
        {% endif %}
      {% endfor %}

    {% endfor %}
  </nav>
  <div class="search">
    <input type="search" inputmode="search" spellcheck="false" id="search-input" placeholder="Search...">
    <ul id="results-container"></ul>
  </div>
</header>
