$sans:		'IBM Plex Sans', system-ui, sans-serif;
$display: 'IBM Plex Sans Condensed', system-ui, sans-serif;
$serif:   'Source Serif Variable', 'Source Serif Pro', Charter, Georgia, serif;
$lh:			1.7;

$brand:		#F3F2EF;
$brand:		hsl(310, 45%, 95%);

$secondary: #009;

$neutral: hsl(45, 70%, 98%);
