---
---

@import 'normalize';
@import 'syntax';

$sans:		'Whitney SSm A', 'Whitney SSm B', sans-serif;
$lh:			1.7;

$brand:		#F3F2EF;

/* General */

html {
	min-height: 100%;
	//border-left: .5em solid #C00;
}
body {
	font-family: $sans;
	font-size: 87.5%;
	line-height: $lh;
	padding: 0 0 10%;
	background: white;
	color: #333;
}

.admin {
	opacity: 0;
	margin-bottom: -1em * $lh;
	&:hover {
		opacity: 1;
	}
}

#main, #main-nav, #secondary {
	margin: 0 5%;
}

a {
	color: black;
}
a:hover, a:focus, a:active {
	outline: none;
	color: #900;
}

.current a {
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3, h4, dt, #nav {
	font-family: $sans;
}

h1 {
	font-weight: normal;
	border-bottom: 1px solid darken($brand, 5%);
	font-size: 1.75em;
}
h1 small {
	float: right;
	margin-top: .3em;
}
h2 {
	margin-top: 1em * $lh;
}
h3 {
	margin-top: 1em * $lh;
}
h4 {
	margin-top: 2em;
	font-weight: 800;
	color: darken($brand, 40%);
	text-transform: uppercase;
	letter-spacing: .1em;
}

p {
  margin: 1em*$lh 0;
}

blockquote {
	color: #666;
	border-left: 2px solid darken($brand, 5%);
	margin: 1em*$lh 1em*$lh 1em*$lh .5em*$lh;
	padding: 0 0 0 .75em;
}

ul {
	list-style: square;
	padding: 0;
	margin-left: 1em*$lh;
}
ol {
	padding: 0;
	margin-left: 1em*$lh;
}

li {
  margin: .5em*$lh 0;
}
li p {
  margin: .5em*$lh 0;
}

dt {
	font-weight: bold;
}
dd {
	margin: 0 1em*$lh 1em*$lh;
	p {
		margin: .5em*$lh 0;
	}
}

small {
	color: darken($brand, 35%);
	font-weight: normal;
}
small a {
	color: darken($brand, 40%);
}

#page-header {
  background: $brand;
  background: darken($brand, 40%);
  color: white;
  padding: 1em 5%;
  overflow: hidden;
	a {
		color: inherit;
		text-decoration: none;
		display: block;
	}
	h1 {
		border: none;
		margin: 0;
		font-weight: bold;
		font-size: 1em;
	}
	h4 {
		margin: 0;
	}

	.info {
	}
	nav {
		float: left;
		clear: left;
		li {
			float: left;
			a {
				display: block;
				color: black;
				color: rgba(255,255,255,.75);
				margin-right: 1.25em;
			}
			&.current a {
				color: #900;
				color: white;
				font-weight: normal;
			}
		}
	}
}

#main {
  margin-top: 1em*$lh;
}

footer {
	clear: both;
}

pre, code {
	font-family: monospace;
}

pre {
  overflow-x: scroll;
}

code {
	border: 1px solid darken($brand, 5%);
	background: $brand;
	border-radius: 5px;
	padding: 1px 5px;
	font-size: 1.1em;
}

pre code {
	border: none;
	background: none;
	padding: 0;
	font-size: 1em;
}

.highlight {
	border: 1px solid darken($brand, 5%);
	background: lighten($brand, 3%);
	padding: 0 1em;
	border-radius: 5px;
	margin: 1em 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
	}
}

article {
  max-width: 45em;
  header {
  	h1, h2, h3, h4 {
  		margin: 0;
  	}
  	h4 {
			font-weight: normal;
			font-size: .8em;
			color: darken($brand, 40%);
			a {
				color: inherit;
			}
  	}
  	margin: 1em*$lh 0;
  }
}

#nav {
  border-top: 2px solid darken($brand, 30%);
  li {
		margin: .2em*$lh 0;  
  }
  background: $brand;
}

table.calendar {
  width: 100%;
}
.calendar th {
  text-align: right;
  padding: 1em;
}
// .calendar td.past { opacity: 0.5; }
// .calendar td.today .date { font-weight: bold; }
.calendar .date { overflow: hidden; }

.calendar {
	.january,
	.march,
	.may,
	.july,
	.september,
	.november {
		background: $brand;
		a {
			background: darken($brand, 10%);
		}
	}
	.february,
	.april,
	.june,
	.august,
	.october,
	.december {
		background: darken($brand, 5%);
		a {
			background: darken($brand, 15%);
		}
	}
}

// .calendar .today { background: #FFFDC7; }

.calendar .month { float: left; }
.calendar .day { float: right; }
.calendar tr {
  border-left: 2px solid white;
}
.calendar td {
  height: 12em;
  vertical-align: top;
  width: 20%;
  padding: 1em;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.calendar a {
  display: block;
  margin: 2px -1em;
  padding: .25em 1em;
  text-decoration: none;
  .label {
  	display: block;
  	font-size: .8em;
  	text-transform: uppercase;
  	font-weight: bold;
  	color: darken($brand, 40%);
  	letter-spacing: .1em;
  }
}
.calendar a:hover {
}

/* Bigger Screens */

@media screen and (min-width: 30em) {
	body {
	  font-size: 100%;
	}
	.calendar {
	  font-size: .75em;
	}
}
@media screen and (min-width: 55em) {
  #page-header {
    text-align: left;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    nav {
    	float: right;
    	margin-top: -1.75em;
    	li {
    		a {
    			margin-left: 1.25em;
    			margin-right: 0;
    		}
    	}
    }
  }
  #main {
  	margin-top: 6em;
  }
  article {
    float: left;
    width: 65%;
  }
  #nav {
    float: right;
    width: 30%;
    font-size: .875em;
    padding-left: 2%;
    padding-bottom: 1.2em*$lh;
    margin-top: 1em*$lh;
    border: none;
    position: fixed;
    right: 0;
    top: 2.5em;
    bottom: 0;
    width: 30%;
    overflow: scroll;
  }
  #nav:before {
    display: block;
    content: ' ';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      rgba(0,0,0,0),
      rgba(0,0,0,.1) 10%,
      rgba(0,0,0,.1) 90%,
      rgba(0,0,0,0)
    );
  }
}
