/* General */

body {
	font-family: Charter, serif;
	font-family: 'Whitney SSm A', 'Whitney SSm B', Verdana, sans-serif;
	font-size: 75%;
	line-height: 1.5;
	padding: 0 0 10%;
	background: white;
	color: #333;
}

#main, #main-nav, #secondary {
	margin: 0 5%;
}

a {
	color: black;
}
a:hover, a:focus, a:active {
	outline: none;
	color: #900;
}

.current a {
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3 {
	font-family: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
}

h1 {
	font-weight: 800;
	border-bottom: 1px solid #CCC;
}
h1 small {
	float: right;
	margin-top: .2em;
	font-weight: bold;
}
h2 {
	margin-top: 1.5em;
}
h3 {
	margin-top: 1.5em;
}
h4 {
	margin-top: 2em;
	font-weight: 800;
	color: #888;
	text-transform: uppercase;
	letter-spacing: .1em;
}

p {
  margin: 1.5em 0;
}

ul {
	list-style: square;
}

li {
  margin: .75em 0;
}
li p {
  margin: .75em 0;
}

small {
	color: #AAA;
	white-space: nowrap;
	font-weight: normal;
}
small a {
  color: #888;
}

/* 
header h1 {
	border-bottom: none;
	margin: 0;
	padding: 0;
}
header h1 a {
	text-decoration: none;
	display: block;
	background: #444;
	color: white;
	padding: 0 5%;
}
header h1 a small {
	color: #AAA;
	font-size: 1em;
	font-weight: normal;
	float: none;
}
header h1 a:hover {
	color: white;
	background: #333;
}
 */

#page-header {
  background: rgba(0,0,0,.7);
  color: white;
  padding: 1em 5%;
  box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,.25);
  overflow: hidden;
}
#page-header a {
  color: inherit;
  text-decoration: none;
}
#page-header h1 {
  border: none;
  margin: 0;
}
#page-header h2 {
  margin: 0;
}

#page-header .info {
  float: left;
}
#page-header nav {
  float: right;
}

#main {
}

footer {
	clear: both;
}

pre, code {
	font-family: monospace;
}

pre {
	
}

code {
	border: 1px solid rgba(0,0,0,.125);
	background: rgba(0,0,0,.025);
	border-radius: 5px;
	padding: 1px 5px;
	font-size: 1.2em;
}

pre code {
	border: none;
	background: none;
	padding: 0;
	font-size: 1em;
}

.highlight {
	border: 1px solid rgba(0,0,0,.125);
	background: rgba(0,0,0,.025);
	padding: 0 1em;
	border-radius: 5px;
	margin: 1em 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	margin: 0;
	padding: 0;
}

article {
  max-width: 45em;
}

table.calendar {
  width: 100%;
}
.calendar th {
  text-align: right;
  padding: 1em;
}
.calendar td.past { opacity: 0.5; }
.calendar td.today .date { font-weight: bold; }
.calendar .date { overflow: hidden; }

.calendar .march { background: #FFC7BB; }
.calendar .april { background: #FFFDC7; }
.calendar .may { background: #ADE8AF; }
.calendar .june { background: #B7FFFD; }

.calendar .march { background: #eee; }
.calendar .april { background: #ddd; }
.calendar .may { background: #eee; }
.calendar .june { background: #ddd; }

.calendar .today { background: #FFFDC7; }

.calendar .month { float: left; }
.calendar .day { float: right; }
.calendar tr {
  border-left: 1px solid white;
}
.calendar td {
  height: 10em;
  vertical-align: top;
  width: 20%;
  padding: 1em;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.calendar a {
  display: block;
  background: rgba(0,0,0,.1);
  margin: .25em -1em;
  padding: .25em 1em;
  text-decoration: none;
}
.calendar a:hover {
}

/* Bigger Screens */

@media screen and (min-width: 30em) {
	body {
	  font-size: 100%;
	}
	.calendar {
	  font-size: .75em;
	}
}
@media screen and (min-width: 55em) {
  article {
    float: left;
    width: 65%;
  }
  #notes-nav {
    float: right;
    width: 30%;
  }
}