$border-color: hsl(hue($neutral), 20%, 85%);

table.calendar {
  width: 100%;
}
.calendar th {
  font-size: 0.9em;
  font-weight: 600;
  text-align: right;
  padding: 1em;
}
// .calendar td.past { opacity: 0.5; }
.calendar td.today .date { font-weight: 900; }
.calendar .date {
  font-size: 0.9em;
  font-weight: 600;
  overflow: hidden;
}

.calendar .today {
  background: darken($neutral, 3%);
}

.calendar .month { float: left; }
.calendar .day { float: right; }
.calendar th {
	border-bottom: 1px solid $border-color;
}
.calendar td {
  height: 12em;
  vertical-align: top;
  width: 20%;
  padding: 1rem;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: $border-color;
}
.calendar td:last-of-type {
	border-right: none;
}
.calendar tr:last-of-type td {
	border-bottom: none;
}
.calendar a {
  $path: polygon(0 9%, 3% 0, 96% 0, 100% 4%, 100% 91%, 98% 100%, 7% 100%, 0 96%);
  -webkit-clip-path: $path;
  clip-path: $path;
  color: inherit;
  display: block;
  font-family: $serif;
	font-weight: 500;
  line-height: 1.3;
  margin: 0.5rem -0.5rem;
  padding: 0.5rem;
	transition: background-color 200ms, border-color 200ms;
  text-decoration: none;
  &::before {
    content: '';
    display: block;
    width: 1.5em;
    height: 3px;
    background: $secondary;
    margin-bottom: 0.25em;
  }
  .label {
    font-family: $display;
    font-size: 0.7em;
    color: darken($brand, 40%);
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
.calendar a:hover {
  background-color: darken($neutral, 3%);
}
.calendar .today a:hover {
  background-color: white;
}
.calendar .project-due a {
  background: darken($secondary, 5%);
  color: white;
  &::before {
    background-color: saturate(darken($brand, 25%), 25%);
  }
  .label {
    color: inherit;
  }
  &:hover {
    background: darken($secondary, 15%);
  }
}

.calendar a.day {
  -webkit-clip-path: none;
  clip-path: none;
  margin: 0;
  padding: 0;
  background: none;
  border-radius: 2rem;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  &::before {
    display: none;
  }
  &:hover {
    color: #009;
    text-decoration: underline;
  }
}

@media screen and (min-width: 30em) {
	.calendar {
	}
}
