a.card {
  $path: polygon(0 9%, 3% 0, 96% 0, 100% 4%, 100% 91%, 98% 100%, 7% 100%, 0 96%);
  -webkit-clip-path: $path;
  clip-path: $path;
  color: inherit;
  display: block;
  font-family: $serif;
	font-weight: 500;
  line-height: 1.3;
  margin: 0.5rem -0.5rem;
  padding: 0.5rem;
	transition: background-color 200ms, border-color 200ms;
  text-decoration: none;
  &::before {
    content: '';
    display: block;
    width: 1.5em;
    height: 3px;
    background: $secondary;
    margin-bottom: 0.25em;
  }
  .label {
    font-family: $display;
    font-size: 0.7em;
    color: darken($brand, 40%);
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
a.card:hover {
  background-color: white;
}
