.page-footer {
  $path: polygon(0 5%, 2% 0, 80% 8%, 92% 0, 100% 3%, 100% 100%, 0 100%);
  background: darken($secondary, 10%);
  color: white;
  padding: 1em 0.75em*$lh;
  -webkit-clip-path: $path;
  clip-path: $path;
  position: relative;
  z-index: 10;
  margin-top: -1em;
  $radius: 6%;
  $color: darken($secondary, 12%);
  background-image: radial-gradient($color $radius, transparent $radius),
                    radial-gradient($color $radius, transparent $radius),
                    radial-gradient($color $radius, transparent $radius);
  background-size: 96px 96px, 103px 103px, 122px 122px;
  background-position: 30px 13px, 30px 63px, 72px 34px;
  p {
    margin: 0.25em*$lh 0;
  }
  a {
    color: inherit;
  }
}

@media screen and (min-width: 55em) {
	.page-footer {
		padding: 3em 2em*$lh 1em;
    margin-top: 0;
    position: static;
	}
}
