#nav {
	padding: 0 0.75em*$lh 1em*$lh;
  li {
		margin: .2em*$lh 0;
  }
	h4 {
		small {
			color: darken($brand, 55%);
			display: block;
			font-weight: 700;
		}
	}
}

@media screen and (min-width: 55em) {
  #nav {
    font-size: .875em;
		margin: 0;
		padding: 0 2em*$lh 1em*$lh 1.2em*$lh;
  }
}
