---
---
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.data.course.abbreviation }} {{ site.data.course.iteration }} @ GA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/charter/stylesheet.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/franklin/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6747292/744824/css/fonts.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
	<script>window.onload = function(){ document.body.className += " loaded"; }</script>
</head>
<body>

<header id="page-header">
  <div class="info">
    <h1>
      <a href="{{ site.baseurl }}/">
        {{ site.data.course.abbreviation }} {{ site.data.course.iteration }}
      </a>
    </h1>
	</div>
  <nav>
    <ul>
      {% for item in site.data.course.nav %}
        
        {% assign item_url = item | prepend:"/" | append:"/" | replace:"HOME/","" %}
        {% assign url_parts = page.url | split:"/" %}
        {% assign section_slug = url_parts[1] %}
                
        {% if item_url == page.url %}
          {% assign c = "current" %}
        {% elsif item == section_slug %}
          {% assign c = "current" %}
        {% else %}
          {% assign c = "" %}
        {% endif %}

        {% for p in site.pages %}
          {% if p.url == item_url %}
            <li class="{{ c }}"><a href="{{ site.baseurl }}{{ p.url }}">{% if p.nav_title %}{{ p.nav_title }}{% else %}{{ p.title }}{% endif %}</a></li>
          {% endif %}
        {% endfor %}
        
      {% endfor %}
    </ul>
  </nav>
</header>

<section id="main">
{{ content }}
</section>

<footer></footer>

</body>
</html>
