---
layout: default
---

<article>
	<h1>
		{{ page.title | markdownify | strip_html | strip }}
		{% if page.due %}
			<small>due {{ page.due | date: "%B %-d, %Y" }}</small>
		{% endif %}
	</h1>
	{{ content }}
</article>

<aside id="nav">
	<h4>Projects</h4>
	<ol>
		{% assign projects = site.projects | date_sort:'due' %}
		{% for post in projects %}
      {% if post.url == page.url %}
        {% assign c = "current" %}
      {% else %}
        {% assign c = "" %}
      {% endif %}
			<li class="{{ c }}">
				<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | markdownify | strip_html | strip }}</a>
				<small>due {{ post.due | date: "%b. %-d, %Y" }}</small>
			</li>
		{% endfor %}
	</ol>
</aside>
